.light {
    display: none;
}
.dark {
    display: block;
}
body {
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    background: #37383C;
    color: #FFFFFF;
}
.nav {
    background-color: #37383C;
    opacity: 100%;
}
.nav input:checked ~ .icon-menu .burger-menu {
    background-image: url("../images/close-modo-noct.svg");
}
.nav input:not(:checked) ~ .icon-menu .burger-menu {
    background-image: url("../images/burger-modo-noct.svg");
}
.logo {
    background-image: url("../images/logo-mobile-modo-noct.svg");
}
.topnav {
    background: #000000;
}
.topnav li a{
    color: #FFFFFF;
}
.search-container {
    border: 1px solid #FFFFFF;
}
.mySearch {
    color: #FFFFFF;
    background-color: #37383C;
}
.mySearch:focus {
    background-color: #37383C;
    color: #FFFFFF ;
}
.main-lens .svg-lens {
    fill: #FFFFFF;
}
.iconSearch {
    color: #FFFFFF;
}
.icon-close {
    background-image: url('../images/close-modo-noct.svg');
}
.icon-close:hover {
    background-image: url('./images/button-close-hover-modo-noc.svg');
}
.button {
    border:  1px solid #FFFFFF;
    background-color: #37383C;
    color: #FFFFFF;
}
.button:hover {
    background-color: #FFFFFF;
    color: #37383C;
}

.trendGifos {
    background-color: #222326;
}
.look {
    color: #FFFFFF;
}
.facebook {
    background-image: url("../images/icon_facebook.svg");
}
.twitter {
    background-image: url("../images/icon_twitter_noc.svg");
}
.instagram {
    background-image: url("../images/icon_instagram.svg");
}

@media all and (min-width: 970px) {
    .logo {
        background-image: url("../images/logo-desktop-modo-noc.svg");
    }
    .topnav {
        background: #37383C;
    }
    .topnav li a{
        color: #FFFFFF;
    }
    .nav input:checked ~ .icon-menu .burger-menu {
        background-image: url("../images/close-modo-noct.svg");
    }
    .nav input:not(:checked) ~ .icon-menu .burger-menu {
        background-image: url("../images/burger-modo-noct.svg");
    }    
    .createButton {
        background-image: url("../images/CTA-crear-gifo-modo-noc.svg");
    }
    .createButton:hover {
        background-image: url("../images/CTA-crear-gifo-hover-modo-noc.svg");
    }
    .createButton:active {
        background-image: url("../images/CTA-crear-gifo-active-modo-noc.svg");
    }
    .carousel-button {
        background-color: #222326;
    }
    .prevButton {
        background-color: #222326;
    }
    .prev-slider {
        background-image: url('../images/button-slider-left-md-noct.svg') ;
    }
    .prevSlider:hover {
        background-image: url('../images/button-slider-left-hover.svg') ;
    }
    .nextButton {
        background-color: #222326;
    }
    .next-slider {
        background-image: url('../images/button-slider-right-md-noct.svg') ;
    }
}    

@media all and (min-width: 1200px) {
    .searchOnNav {
        border: 1px solid #FFFFFF;
    }
    .mySearchOnNav {
        background-color:  #37383C;;
    }
    .camera-figure {
        background-image: url("../images/camara-modo-noc.svg");
    }
    .film-figure {
        background-image: url("../images/pelicula-modo-noc.svg");
    }
}    