.light {
    display: block;
}
.dark {
    display: none;
}
body {
    border-top: 5px solid #572EE5;
    border-bottom: 5px solid #572EE5;
    background: #FFFFFF;
    color: #572EE5;
}
.logo {
    background-image: url("../images/logo-mobile.svg");
}
.topnav {
    background: #572EE5;
}
.topnav li a{
    color: #FFFFFF;
}
.searchContainer {
    border: 1px solid #572EE5;
}
.mySearch {
    color: #9CAFC3;
    background-color: #FFFFFF;
}
.mySearch:focus {
    background-color: #FFFFFF;
}
.iconSearch {
    color: #9CAFC3;
}
.iconClose {
    background-image: url('../images/close.svg');
}
.showMore {
    /*background-color: #FFFFFF;*/
}
.trendGifos {
    background-color: #F3F5F8;
}
.look {
    color: #000000;
}
@media all and (min-width: 970px) {
    .searchOnNav {
        border: 1px solid #572EE5;
    }
    .mySearchOnNav {
        color: #9CAFC3;
        }
    .topnav {/*corregir posicion de los li, ojo responsivo se sale por fuera de pantalla*/
        background: #FFFFFF;
    } 
    .topnav li a{
        color: #572EE5;
    }
    .createButton {
        background-image: url("../images/button-crear-gifo.svg");
    }
    .createButton:hover {
        background-image: url("../images/CTA-crear-gifo-hover.svg");
    }
    .createButton:active {
        background-image: url("../images/CTA-crear-gifo-active.svg");
    }
    .prevButton {
        background-color: #F3F5F8;
    }
    .prevSlider {
        background-image: url('../images/button-slider-left.svg') ;
    }
    .prevSlider:hover {
        background-image: url('../images/button-slider-left-hover.svg') ;
    }
    .carousel .imgHover {
        background-color: #572EE5;
    }
    .nextButton {
        background-color: #F3F5F8;
    }