.light {
    display: block;
}
.dark {
    display: none;
}
body {
    border-top: 5px solid #572EE5;
    border-bottom: 5px solid #572EE5;
    background: #FFFFFF;
    color: #572EE5;
}
.logo {
    background-image: url("../images/logo-mobile.svg");
}
.topnav {
    background: #572EE5;
    opacity: 90%;
}
.topnav li a{
    color: #FFFFFF;
}
.nav input:checked ~ .icon-menu .burger-menu {
    background-image: url("../images/close.svg");
}
.nav input:not(:checked) ~ .icon-menu .burger-menu {
    background-image: url("../images/burger.svg");
}
.searchContainer {
    border: 1px solid #572EE5;
}
.mySearch {
    color: #9CAFC3;
    background-color: #FFFFFF;
}
.mySearch:focus {
    background-color: #FFFFFF;
}
.main-lens .svg-lens {
    fill: #572EE5;
}
.iconSearch {
    color: #9CAFC3;
}
.icon-close {
    background-image: url('../images/close.svg');
}
.button {
    border:  1px solid #572EE5;
    background-color: #FFFFFF;
    color: #572EE5;
}
.button:hover {
    background-color: #572EE5;
    color: #FFFFFF;
}
.trendGifos {
    background-color: #F3F5F8;
}
.look {
    color: #000000;
}

@media all and (min-width: 970px) {
    .topnav {
        background: #FFFFFF;
    } 
    .topnav li a{
        color: #572EE5;
    }
    .createButton {
        background-image: url("../images/button-crear-gifo.svg");
    }
    .createButton:hover {
        background-image: url("../images/CTA-crear-gifo-hover.svg");
    }
    .createButton:active {
        background-image: url("../images/CTA-crear-gifo-active.svg");
    }
    .carousel-button {
        background-color: #F3F5F8;
    }
    .prevButton {
        background-color: #F3F5F8;
    }
    .prevSlider {
        background-image: url('../images/button-slider-left.svg') ;
    }
    .prevSlider:hover {
        background-image: url('../images/button-slider-left-hover.svg') ;
    }
    .carousel .imgHover {
        background-color: #572EE5;
    }

    .nextButton {
        background-color: #F3F5F8;
    }
@media all and (min-width: 1200px) {
    .searchOnNav {
        border: 1px solid #572EE5;
    }
    .mySearchOnNav {
        color: #9CAFC3;
    }
    .mySearchOnNav:focus {
        color: #000000;
    }
    .camera-figure {
        background-image: url("../images/camara.svg");
    }
    .film-figure {
        background-image: url("../images/pelicula.svg");
    }
}    